-----BEGIN CERTIFICATE-----
MIIEATCCAumgAwIBAgIJAJS3oaFs0lVgMA0GCSqGSIb3DQEBCwUAMIGWMQswCQYD
VQQGEwJVUzERMA8GA1UECAwIVmlyZ2luaWExDzANBgNVBAcMBlZpZW5uYTEaMBgG
A1UECgwRWml5b3RlayBJbnN0aXR1dGUxCzAJBgNVBAsMAklUMRUwEwYDVQQDDAxw
cmR4LWxkYXA1MDExIzAhBgkqhkiG9w0BCQEWFGFkbWluQHppeW90ZWs1LmxvY2Fs
MB4XDTIwMDUxNDIxMDkyMloXDTIzMDMwNDIxMDkyMlowgZYxCzAJBgNVBAYTAlVT
MREwDwYDVQQIDAhWaXJnaW5pYTEPMA0GA1UEBwwGVmllbm5hMRowGAYDVQQKDBFa
aXlvdGVrIEluc3RpdHV0ZTELMAkGA1UECwwCSVQxFTATBgNVBAMMDHByZHgtbGRh
cDUwMTEjMCEGCSqGSIb3DQEJARYUYWRtaW5Aeml5b3RlazUubG9jYWwwggEiMA0G
CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDN3pK3kI9+TPTs6on4oAWowOJXhv/A
sZp1vFXtNbpo9lg339P4xPvmjM+Ui5Kw0dbQBcYEc2CiHybnGHUzNZBLMoPOSW03
4aVAj/7Tm1jXeKqolVsVvIuMSIde0DUe9cOPUXvvye5RdTgPxn0rnIi8TcWoEiTA
XHugZhfAVfXYCQvwuDEfZIGUVW+gQyeKL517dtmVzL49C0KemtnVo1JKIT7bwcl8
M9kcAA2KomMTxZOePmao9jqMGRsSqKDzBD2CcGAnwGsztyQM/o1HHLm5s4CcO3g/
U5d/dZ8WhGlr7jdNw17RTby7DyMmngim13LN1bSNWllMtq7x7xTmKbA7AgMBAAGj
UDBOMB0GA1UdDgQWBBTnlsVdGEUqLyswu6MQmDuqucdwLjAfBgNVHSMEGDAWgBTn
lsVdGEUqLyswu6MQmDuqucdwLjAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBCwUA
A4IBAQCoN6CUE7CYZxBuhJlUHpkfytRW77Wob6j03+ND/nx90aLS9lcvJWDJuEKR
UaGZHugzbSESeIylUdqtEQ8DW1J5WYOnxEOYrd77uaCLq2vqQaCX9ensOWivBMVg
7In/J8UeWJch96K0e+BwsxA8z3Tllls+BousrqywkdUQL9lhf5ftFcfL6LREoY5W
r4AMoYMEZa50BmTz/ATDPenQFK0x2hYA5L9y/N9KOIAO7rPtW6LX0DWqrTVIPqcN
XttSUklmeO9ZTPG3M2MRJoaQ9bhx5jbyKvvWXxFriM2VjpYUKwFuX7QOw8QYImqS
N9FXeAdPgQFIMRC/lkplbm6/0w+G
-----END CERTIFICATE-----